/* =========================================================
   SMARTHIRE GLOBAL STYLES
========================================================= */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: #F8FAFC;
}

#root {
    min-height: 100vh;
}

::selection {
    color: white;
    background: #2563EB;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #CBD5E1;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #94A3B8;
    }
